<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <nav></nav>
    <p>Sélectionnez une catégorie.</p>
    <form action="/" method="post">
      <div class="menuDeroulant">
        <a href="#">Catégories</a>
        <ul class="cat">
          <li><a href="#">Roman historique</a></li>
          <li><a href="#">Fantasy</a></li>
          <li><a href="#">Autobiographie</a></li>
        </ul>
      </div>
    </form>
  </body>
</html>
